.SPADES {
    background: url("img/spade.gif") no-repeat scroll right +2px bottom +2px rgba(0, 0, 0, 0)
}
.CLUBS {
    background: url("img/club.gif") no-repeat scroll right +2px bottom +2px rgba(0, 0, 0, 0)
}
.HEARTS {
    background: url("img/heart.gif") no-repeat scroll right +2px bottom +2px rgba(0, 0, 0, 0)
}
.DIAMONDS {
    background: url("img/diamond.gif") no-repeat scroll right +2px bottom +2px rgba(0, 0, 0, 0)
}

.hand {
background-color: RGB(0, 200, 85);}

.card {background-color: white}

#control {background-color: RGB(0, 0, 100)}

#winstate {color: white}

#topline {background-color: RGB(175,175,175)}

#help {
  border: 2px solid;
  background-color: RGB(125,250,0);
  padding: 5px
}