.card {
    border: 1px solid;
    text-align: left;
    vertical-align: top;
    width: 40px;
    height: 60px;
    display: inline-block;
    margin: 2px;
    padding: 2px;
}

.halfwidth {
    width:47%;
    display:inline-block;
}

.hand {
    border: 2px solid;
    text-align:center;
    height: 90px;
}

#winstate   {text-align:center}

#topline    {text-align:right}

#controlbuttons { text-align:right;}

#control {margin: "10px 4px 10px 4px";}

#help {
width: 210px;
height: 150px;
position: absolute;
top:0;
bottom: 0;
left: 0;
right: 0;
margin: auto;
}

#hidehelp{
position: absolute;
bottom: 5px;
right: 5px;
}